* {
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 1100px;
    margin: 0 auto;
}

#logo {
    margin-left: 437px;
    background-image: url(imagenes/logo.png);
    background-repeat: no-repeat;
    height: 130px;
    width: 210px;
    padding: 10px;
    font-size: 0px;
}

header {
    width: 1100px;
    position: relative;
}

.contenedor-logo {
    background-color: black;
}

nav ul li {
    list-style: none;
    width: 200px;
    margin: 10px;
    background-color: black;
    display: inline-block;
}

nav ul li:hover {
    transform: scale(1.05);
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-family: verdana;
}

nav {
    width: 900px;
    margin: auto;
}

.fondo-floral {
    width: 1100px;
    height: 600px;
    background-image: url(imagenes/fondo-floral.jpg);
    background-size: contain;
    margin-top: 10px;
}

.recuadro {
    width: 850px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.692);
    border: 3px solid black;
    position: absolute;
    top: 280px;
    left: 120px;
}

.recuadro img {
    float: right;
    margin: 43px 70px 43px 0px;
}

.textobienvenida {
    float: left;
    width: 300px;
    color: white;
    font-family: Verdana;
    margin: 120px 0px auto 120px;
    text-align: center;
}

.textobienvenida h2 {
    margin-bottom: 60px;
}

/*----------CONTACTO-----------*/
#contacto {
    background-image: url(imagenes/section2.jpg);
    width: 1100px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
}

.ubicacion {
    float: left;
    margin: 55px 0px 0px 20px;


}

.social-media {
    float: right;
    width: 550px;
    margin-top: 200px;
}

.redes {
    width: 200px;
    margin: 50px 300px 130px 170px;

}

.social-media p {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    font-family: Verdana;
    margin: 10px
}


.social-media ul li a img {
    width: 90px;
    height: 90px;
    margin-top: 90px;
}

.social-media ul li a img:hover {
    transform: scale(1.05);
}

.social-media ul {
    list-style: none;
    margin: 0px 10px;
}

.social-media ul li {
    display: inline-block;
    margin: 0px 40px;
}

.social-media ul li a {
    display: block;
}


footer {
    height: 100px;
    background-color: black;
    padding-top: 50px;
}

footer p {
    color: white;
    text-align: center;
}